<!DOCTYPE html>
<html>
<head>
  <title>Graver L'Instant</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.ico'%>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "a4016264-da2a-44a5-9b90-e182a0fdf562", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</body>
</html>
